#assert li span {
    display: block;
    padding: 2px 0;
}
#assert .success {
    background-color:#aaffaa;
    background-repeat:repeat-x;
    background-image:-khtml-gradient(linear, left top, left bottom, from(#d4ffaa), to(#aaffaa));
    background-image:-moz-linear-gradient(top, #d4ffaa, #aaffaa);
    background-image:-ms-linear-gradient(top, #d4ffaa, #aaffaa);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #d4ffaa), color-stop(100%, #aaffaa));
    background-image:-webkit-linear-gradient(top, #d4ffaa, #aaffaa);
    background-image:-o-linear-gradient(top, #d4ffaa, #aaffaa);
    background-image:linear-gradient(top, #d4ffaa, #aaffaa);
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color:#aaffaa #aaffaa #56ff56;
    border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    margin-bottom:8px;
    padding:7px 14px;
    color:#404040;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
    border-width:1px;
    border-style:solid;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

#assert .error {
    background-color:#ffaaaa;
    background-repeat:repeat-x;
    background-image:-khtml-gradient(linear, left top, left bottom, from(#ffaaaa), to(#ffaaaa));
    background-image:-moz-linear-gradient(top, #ffaaaa, #ffaaaa);
    background-image:-ms-linear-gradient(top, #ffaaaa, #ffaaaa);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffaaaa), color-stop(100%, #ffaaaa));
    background-image:-webkit-linear-gradient(top, #ffaaaa, #ffaaaa);
    background-image:-o-linear-gradient(top, #ffaaaa, #ffaaaa);
    background-image:linear-gradient(top, #ffaaaa, #ffaaaa);
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color:#ffaaaa #ffaaaa #ff5656;
    border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    margin-bottom:8px;
    padding:7px 14px;
    color:#404040;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
    border-width:1px;
    border-style:solid;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

